<div class="mt-10 text-center">
  <a href="/upload-item/?kategoria=palacsinta" class="upload-btn p-2 pl-5 pr-5">Új termék feltöltése</a>
</div>
<section class="p-8 flex flex-wrap flex-col md:flex-row">
  <% palacsinta.forEach(termék => { %>
    <% let ár = termék.ár.toFixed(2)%>
    <% let changePath = `/change-item/${termék._id}` %>
    <% let deletePath = `/delete-item/${termék._id}` %>
    <section class="mx-auto lg:mx-0" id=<%= termék._id %>>
      <div class="w-64 m-8 bg-white termék">
        <img class="w-60 h-52 mx-auto pt-2" src="images/<%= termék.kép %>" alt="palacsinta">
      <div>
      <h2 class="m-2 text-center text-xl"><%= termék.név %></h2>
      <div class="ml-8 text-lg text-gray-700">
        <span class=""><%= termék.leírás %></span>
      </div>
      <div class="flex items-center justify-around my-4 pb-3">
        <span class="font-bold text-lg"><%= ár %> €</span>
        <% if(user && user.beosztás === "admin") { %>
          <a href=<%= changePath %> class="add-btn change-admin pl-3">változtat</a>
          <button class="add-btn delete-admin" data-termék="<%= JSON.stringify(termék) %>" >törlés</button>
        <% } else { %>
          <button data-termék="<%= JSON.stringify(termék) %>" class="add-btn add-customer">
            <span>+</span>
            <span>kosárba</span>
          </button>
        <% } %>
      </div>
</section>
 <% }); %>
</section>