<form action="/futarok/register" class="form bg-white rounded-md p-12 md:mt-5" method="post">
    <h1 class="font-semibold text-xl text-center mb-4">Futár felvétel</h1>
    <% if (messages.error) { %>
        <span class="text-red-700"><%= messages.error %></span>
        <% } %>
      <div class="mb-4">
        <% if (messages.nameError) { %>
          <span data-testid="nameError" class="text-red-700"><%= messages.nameError %></span>
        <% } %>
        <label for="name" class="block text-gray-700 font-bold mb-2">Név</label>
        <input data-testid="nameInput" type="text" id="name" name="name" class="label" value="<%= messages.name %>" required>
      </div>
      <div class="mb-4">
        <% if (messages.emailError) { %>
          <span data-testid="emailError" class="text-red-700"><%= messages.emailError %></span>
        <% } %>
        <label for="email" class="block text-gray-700 font-bold mb-2">Email</label>
        <input data-testid="emailInput" type="email" id="email" name="email" class="label" value="<%= messages.email %>" required>
      </div>
      <div class="mb-4">
        <% if (messages.passwordError) { %>
          <span data-testid="pw1Error" class="text-red-700"><%= messages.passwordError %></span>
        <% } %>
        <label for="password1" class="block text-gray-700 font-bold mb-2">Jelszó</label>
        <input data-testid="pw1Input" type="password" id="password1" class="label" name="password1" required>
      </div>
      <div class="mb-6">
        <% if (messages.password2Error) { %>
          <span data-testid="pw2Error" class="text-red-700"><%= messages.password2Error %></span>
        <% } %>
        <label for="password2" class="block text-gray-700 font-bold mb-2">Írja be ismét a jelszót</label>
        <input data-testid="pw2Input" type="password" id="password2" class="label" name="password2" required>
      </div>
        <button data-testid="registerBtn" class="reg-btn text-sm font-bold" type="submit">Regisztráció</button>
</form>