<script src="/dist/selectOptions.js" defer></script>
<form class="upload-form bg-white rounded-md p-12" action="/change-item" method="post" enctype="multipart/form-data">
  <input type="text" name="hiddenKategória" id="hidden-kategória" class="hidden" value=<%= termék.kategória %>>
  <input type="text" name="kép" id="kép" class="hidden" value=<%= termék.kép %>>
  <input type="text" name="eredetiKép" id="eredetiKép" class="hidden" value=<%= termék.kép %>>
  <input type="text" name="termékId" id="termékId" class="hidden" value=<%= termék._id %>>
 <section class="flex">
   <div class="mr-10">
     <div class="mb-4">
       <label for="név" class="block text-gray-700 font-bold mb-2">Termék neve</label>
       <input data-testid="nameInput" type="text" id="név" name="név" class="label" value=<%= termék.név %> required>
     </div>
     <div class="mb-4">
       <label for="ár" class="block text-gray-700 font-bold mb-2">Termék ára</label>
       <input data-testid="priceInput" type="text" id="ár" name="ár" class="label" value=<%= termék.ár %> required>
       <% if (messages.árError) { %>
        <span class="text-red-700"><%= messages.árError %></span>
        <% } %>
      </div>
     <div class="mb-4">
         <label for="kategória" class="text-gray-700 font-bold mb-2 align-bottom mr-4">Termék kategóriája</label>
         <select name="kategória" id="kategória" class="border-2 border-black pl-2 pr-2">
             <option value="pizza">Pizza</option>
             <option value="hamburger">Hamburger</option>
             <option value="palacsinta">Palacsinta</option>
             <option value="udito">Üdítő</option>
         </select>
     </div>
   </div>
   <div class="mb-4">
     <label for="ár" class="block text-gray-700 font-bold mb-2">Termék leírás</label>
     <textarea data-testid="descrInput" name="leírás" id="leírás" cols="40" rows="8" class="border-2 border-black resize-none p-2"><%= termék.leírás %></textarea>
   </div>
 </section>
  <div class="mb-4 mt-6" >
    <label for="kép" class="block text-gray-700 font-bold mb-2">Kép a termék megjelenítéséhez</label>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg">
  </div>
  <div class="text-center mt-4">
    <button data-testid="submitBtn" type="submit" class="upload-btn p-2 pl-7 pr-7">Feltöltés</button>
  </div>
</form>